@import "variables";
@import "icon-font";

/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Paravel's RWD Resets 
-------------------------------------------------------------- */
/*
@-ms-viewport {
  width: device-width;
}
*/

html {
  overflow-y: auto;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* Proportional Grid
-------------------------------------------------------------- */
.container {

}

/* Typography
-------------------------------------------------------------- */
body {
	font: normal 100% $serif;
	color: $text-font;


}

.content>article p {
	color: $text-font;
	font-weight: 300;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
}

.preview .meta time {
	color: $normal-grey;
}

.post-header {
	margin-bottom: 2em;
	text-align: center;

	.post-precontent {
		font-style: italic;
		font-size: 1em;
	}
}

.site-footer {
	color: $text-font;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-family:  $sans-serif;
	line-height: 3rem;

	@media (max-width: 650px) and (min-width: 0px) { 
		font-size: .8em;
	}	
}

.main-content li {
	font-style: italic;
	font-size: 1.25em;
}

em {
	font-style: italic;
}

strong {
	font-weight: 500; 
}

code {
	font-family: monaco;
	font-size: .8em;
	color: $normal-grey;
}

small {
	font-size: .75em;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4{
	margin-bottom: .875rem;
	color: $normal-grey;
	font: 4.5em  $sans-serif;
	font-weight: 300;
	line-height: 1em;
}

h2{
	padding: .875em  0 0.2em;
	border-top: 1px dashed white;
	font-size: 2.5em;
}

.preview h2 {
	margin-bottom: .5em;
}

h3{
	margin-top: 1em;
	font-size: 1.7em;
}

h1{
	&.my-name {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		color: $red;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		letter-spacing: 1px;
		font-weight: 400;
		font-style: normal;
		font-size: 1rem;
		font-family:  $sans-serif;
		line-height: 3.5rem;
	}
}

/* Links
-------------------------------------------------------------- */
a{
	color: $red;
	text-decoration: none;
	@include vendor-prefix(transition-duration, 300ms);
	@include vendor-prefix(transition-property, color);
	@include vendor-prefix(transition-timing-function, ease-out);

	&:hover {
		color: $baby-blue;
	}

}

.preview h2 a {
	color: $red;

	&:hover {
		color: $baby-blue;
	}
}

.preview .meta .tag {
	font-family: $sans-serif;
}

a.pullout-nav {
	display: none;
	color: $text-font;

	&:hover {
		color: $red;
	}
}

.pagination a {
	font-size: 1em;
	font-family: $sans-serif;
	text-transform: uppercase;
	@include vendor-prefix(transition, all 0.3s ease-in-out);
	background: $blue-background;
	padding: .875em;
	top: 55%;
	width: 9em;
}

.older a {
	position: fixed;
	right: 0;
	margin-right: -8em;
	text-align: right;
	padding-bottom: .8em;

	&:hover {
		margin-right:0;
		background: white;
	}

	.fs1{
		float: left;
	}
}

.newer a {
	position: fixed;
	left: 0;
	margin-left: -8em;
	padding-bottom: .8em;
	text-align: left;

	&:hover {
		margin-left: 0;
		background: white;
	}

	.fs1 {
		float: right;
	}
}

/* Lists
-------------------------------------------------------------- */
.main-content {

	ol {
		list-style-type: decimal;
	}

	ol, ul {
		padding: 1em;
		margin-left: 2em;
		margin-bottom: 1em; 
	}

	li {
		margin-bottom: .875em;
	}
}

/* Navigation
-------------------------------------------------------------- */
.site-nav {
	

	.nav-content {
		@include vendor-prefix(box-orient, horizontal);
		@include vendor-prefix(box-align, stretch);
		position: relative;
		z-index: 2;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: box;
		width: 100%;
	}

	ul {
		overflow: hidden;
		position: relative;
		z-index: 2;

		&.left {
			float: left;
			padding-right: 1px;
			z-index: 2;
			width: 50%;
		}

		&.right {
			float: right;
			padding-left: 1px;
			text-align: right;
			z-index: 1;
			width: 50%;
		}

		li {
			display: -moz-inline-stack;
	  		display: inline-block;
	  		zoom: 1;
	  		*display: inline;

	  		a {
	  			position: relative;
	  			padding: 0 1rem;
	  			color: $text-font;
	  			text-align: center;
	  			text-transform: uppercase;
	  			letter-spacing: 1px;
	  			font-weight: 400;
	  			font-size: 1rem;
	  			font-family:  $sans-serif;
	  			line-height: 3.5rem;

	  			&:hover {
	  				color: $red;
	  			}
	  		}
		}

	}

	.pullout-nav {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
  		text-transform: uppercase;
  		letter-spacing: 1px;
  		font-weight: 400;
		font-size: 1rem;
		font-family: $sans-serif;
	}

}

/* Media
-------------------------------------------------------------- */
p img {

	border: 1px solid $border-grey;

	&.no-border {
		border: none;
	}

}

.post-header img {
	border: 1px solid $border-grey;
}

/* Layout
-------------------------------------------------------------- */
body {
	position: relative;	
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	visibility: visible;
	float: left;
	width: 100%;
	white-space: nowrap;
	
	@include vendor-prefix(box-shadow, 0 0 15px rgba(0,0,0,0.15));
	@include vendor-prefix(box-shadow, 0 1px 0 $baby-blue);
	background-color: white;

	&:after {
		
		bottom: 0;
		content: "";
		left: 1rem;
		position: absolute;
		right: 1rem;
		top: 50%;
		z-index: -1;


	}

}

.main-content {

	p:first-child {
		margin-bottom: 1.5em;
		font-size: 2em;
		line-height: 1.5em;
	}

	p {
		margin-bottom: 1.5em;
	}
}

.site-footer {
	background-color: white;
	bottom: 0;
	border-top: 1px solid $baby-blue;
}

/* Content
-------------------------------------------------------------- */
.content {
	/*background-image: url('../img/paper_fibers.png');*/
	background-color: $light-grey;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 3em;

	article {
		position: relative;
		max-width: 700px;

		&.preview {
			padding-bottom: 5em;
			padding-left: 1em;
			@include vendor-prefix(transition, background-color 300ms ease-in-out);

			h2 {
				padding-top: 1em;
				border-top: none;
			}

			&:hover {
				background-color: white;
			}
		}

		&.preview:first-child h2 {
			border-top: none;
		}

		&.preview:nth-child(even) {
			background-color: $blue-background; 
			@include vendor-prefix(transition, background-color .25s ease-in-out);

			&:hover {
				background-color: white;
			}
		}
		&:hover {
			
		}
	}
}


.preview .meta {
	position: absolute;
	width: 95%;
	bottom: 2em;

	& time {
		display: inline-block;
		float: left;
		font-style: italic;
		margin-top: 5px;
	}

	& .tag {

		display: inline-block;
		float: right;
	}

}


/* Media Queries
-------------------------------------------------------------- */
@media (max-width: 3000px) and (min-width: 1485px) {
	.content {
		max-width: 100%;
		padding-left: 0em;
		padding-right: 0em;
		margin-left: auto;
		margin-right: auto;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		article {
			width: 50%;
			float: left;
			margin-right: 0%;
			margin-left: 30%;
			padding-right: 3%;

			&.preview {
				margin-right: 30%;
				margin-left: 28%;
			}
		}
	}
}
@media (max-width: 1484px) and (min-width: 1200px) {

	.content {
		max-width: 100%;
		padding-left: 0em;
		padding-right: 0em;
		margin-left: auto;
		margin-right: auto;

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		article {
			width: 50%;
			float: left;
			margin-right: 0%;
			margin-left: 16.66667%;
			padding-left: 8.33333%;
			padding-right: 10%;

			&.preview {
				margin-right: 25%;
				margin-left: 20%;
			}
		}
	}
}

@media (max-width: 1199px) and (min-width: 650px) {
	
	.content {
		max-width: 100%;
		padding-left: 0em;
		padding-right: 0em;
		margin-left: auto;
		margin-right: auto;

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		article {
			width: 66.66667%;
			float: left;
			margin-right: 0%;
			margin-left: 8.33333%;
			padding-left: 8.33333%;
			padding-right: 8.33333%;

			&.preview {
				margin-right: 0%;
				margin-left: 15%;
			}
		}
	}
}

@media (max-width: 650px) and (min-width: 0px) {
	.site-nav {
		.nav-content{
			opacity: 0;
			top: -1000px;
			position: relative;
			@include vendor-prefix(transition, all 0.3s east-out);

			ul li a{
				font-size: .85rem;
			}
		}

		h1.my-name {
			font-size: .85rem;
		}

		.pullout-nav {
			display: block;
			padding: 1em;
			top: 4px;
			font-size: .85rem;
		}
	}

	.site-nav.expanded {
		.nav-content {
			opacity: 1;
			display: block !important;
			top: 3.3rem;
			height: 17.3rem;
		}

		ul {
			letter-spacing: 0;
			width: 100%;
			
			li {
				border-top: solid 1px $baby-blue;
				display: block;
				text-align: center;
			}
		}
	}

	.content {
		padding-left: 5.5%;
		padding-right: 5.5%;

		

		> article { 
			&.preview {
				padding-right: 1em;

				h2 {
					font-size: 2em;
				}

				.meta {
					width: 90%;
				}
			}

			p, ul li, ol li {
				font-size: 1em;
				line-height: 1.55rem;
			}
		}

		&.expanded {
			margin-top: 10rem;
		}
	}

	header.post-header {
		h1 {
			font-size: 2.5em;
		}
	}

	.main-content {
		p:first-child {
			font-size: 1.5em;
			line-height: 1.4em;
		}

		h2 {
			font-size: 1.75em;
		}

		h3 {
			font-size: 1.4em;
		}

		ol, ul {
			margin-left: .5em;
		}

		
	}

	.pagination  {
		margin-top: 2em;

		a {
			display: block;
			width: 50%;
		}

	}
	.older a, .newer a {
		position: static;
		margin: 0;
		text-align: center;
		
	}
	
	.older a {
		float: right;
		padding: 1em 0 1em;
	}

	.newer a {
		float: left;
		padding: 1em 0 1em;
		vertical-align: 3em;
	}


}


