---
layout: default
---

	<article class="container post">
        <header class="post-header">
         	<h1>{{page.title}}</h1>
              <p class="post-precontent">
               		<time pubdate>{{page.year}}</time>
              </p>
        </header>

        <div class="main-content">

         	{{content}}
           
        </div>
    </article>

    <nav class="pagination">
      {% if page.work_older %}
        <div class="older">
          <a href="{{site.site_url}}{{page.work_older.url}}" rel="prev" data-icon=">">Older Work</a>
        </div>
      {% endif %}
      {% if page.work_newer %}
        <div class="newer">
          <a href="{{site.site_url}}{{page.work_newer.url}}" rel="newer">Newer Work</a>
        </div>
      {% endif %}
    </nav>